{% extends "layout.njk" %}

{% block content %}
<section class="hero">
    <div class="intro">
        <h1>
            As melhores receitas
        </h1>
        <p>
            Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.
        </p>
    </div>
    <img src="assets/chef.png" alt="">
</section>

<main>
    <h2>
        Mais acessadas
    </h2>

    <div class="content">
        <div class="card">
            <img src="/assets/asinhas.png" alt="Assa de frango">
            <h4>Assinhas de frango barbecue</h4>
            <p>Por Vania Steroski</p>
        </div>

        <div class="card">
            <img src="/assets/asinhas.png" alt="Assa de frango">
            <h4>Assinhas de frango barbecue</h4>
            <p>Por Vania Steroski</p>
        </div>

        <div class="card">
            <img src="/assets/asinhas.png" alt="Assa de frango">
            <h4>Assinhas de frango barbecue</h4>
            <p>Por Vania Steroski</p>
        </div>

        <div class="card">
            <img src="/assets/asinhas.png" alt="Assa de frango">
            <h4>Assinhas de frango barbecue</h4>
            <p>Por Vania Steroski</p>
        </div>

        <div class="card">
            <img src="/assets/asinhas.png" alt="Assa de frango">
            <h4>Assinhas de frango barbecue</h4>
            <p>Por Vania Steroski</p>
        </div>

        <div class="card">
            <img src="/assets/asinhas.png" alt="Assa de frango">
            <h4>Assinhas de frango barbecue</h4>
            <p>Por Vania Steroski</p>
        </div>
    </div>
</main>
{% endblock %}